:root{
    --blue-color: #006aab67;
    --red-color: #d92a24;
    --background-color: #eee;
    --section-color: #fff;
    --hover-color: #006aab67;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,b,p,td,a{
    font-family: 'Poppins', sans-serif;
    color: #222;
}
a{
    text-decoration: none;
}
.small{
    font-size: 0.7rem;
    font-style: italic;
    opacity: 0.7;
    line-height: 24px;
}
body{
    overflow-x: hidden;
    background-color: var(--background-color);
}
.submit{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

header{
    width: calc(100vw - 15em);
    background-color: var(--section-color);
    position: absolute;
    right: 0;
    height: 4em;
    display: flex;
    align-items: center;
    padding: 20px;
}
header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header .header .search-conatiner{
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header .search-conatiner input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 20em;
    padding-left: 10px;
}
header .header .navs ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header .header .navs ul li{
    background-color: #006aab3b;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
#logout{
    background-color: #d92a2438;
}
#side{
    display: flex;
    flex-direction: column; 
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 20px;
    background-color: var(--section-color);
    width: 15em;
}
#side .logo{
    width: 8em;
}
#side .logo img{
    width: 100%;
    object-fit: cover;
}
#side .menu{
    display: flex;
    justify-content: end;
    cursor: pointer;
}
/* .navigation-container b{
    visibility: hidden;
} */
#side .user-container{
    border: 1px solid #eee;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    padding: 4px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
#side .user-container .profile-img{
    width: 2.5em;
    height: 2.5em;
    border: 2px solid #eee;
    border-radius: 50%;
}
#side .user-container .profile-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
}
#side .user-container .details{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9rem;
}
#side .navigation-container{
    margin-top: 20px;
}
#side .navigation-container ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#side .navigation-container ul li{
    list-style: none;
}
#side .navigation-container ul li a{
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #222;
    gap: 10px;
    padding: 10px;
    border-radius: 2px;
    opacity: 0.8;
    font-family: sans-serif;
    font-size: 0.8rem;
}
#side .navigation-container ul li a.active{
    background-color: var(--hover-color);
    color: #fff;
    padding: 10px;
}
#side .navigation-container ul li a:hover{
    color: #000;
    background-color: #006aab33;
}
main{
   margin-left: 15em;
   padding-top: 6em;
   padding-left: 20px;
   padding-right: 20px;
}
main #overview{
    background-color: var(--section-color);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
main #overview .details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
main #overview .details .summary-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    background-color: #006aab1f;
    width: 14em;
    border-radius: 10px;
    padding: 10px;
}
main #overview .details .summary-container.blue{
    background-color: #006aab6c;
}
main #overview .details .summary-container.red{
    background-color: #d92a243b;
}
main #overview .details .summary-container.yellow{
    background-color: #bed9243b;
}
main #overview .details .summary-container.green{
    background-color: #97fc133b;
}
main #overview .details .summary-container.green2{
    background-color: #b8fc5f17;
}

main #overview .performance{
    width: 35em;
    padding: 30px;
    background-color: var(--section-color);
    box-shadow: 1px 1px 10px 4px #eee;
    border-radius: 10px;
}
main #overview .performance ul{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
main #overview .performance ul li{
    border-left: 2px solid #24d94b9d;
    padding-left: 5px;
}
main #overview .performance ul li:nth-child(2){
    border-left: 2px solid #7224d99d;
}
main #overview .performance ul li:nth-child(3){
    border-left: 2px solid #d924249d;
}
main #overview .performance .level-container{
    margin-top: 2em;
}
main #course-module{
    background-color: var(--section-color);
    padding: 20px;
    border-radius: 10px;
}
main #course-module .table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}
main #course-module .table-head h2{
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
main #course-module .table-head .search-container{
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main #course-module .table-head .search-container input{
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: transparent;
}
main #course-module table{
    width: 100%;
    table-layout: fixed;
}
main #course-module .heading td{
    background-color: var(--background-color);
    border: none;
    font-size: 0.8rem;
}
main #course-module table td{
    padding: 10px;
    border-top: 1px solid #ddd;
}
main #course-module table td button{
    background-color: #ab5b0080;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
} 
main #course-module table td button.completed{
    background-color: #0000ff3a;
}  


